@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
html,
body {
  font-family: Poppins;
}
:root {
  --custom-blue: #10046c;
  --hover-blue: #1c0ba0;
}
#logo {
  width: 12rem;
}
#link a {
  text-decoration: none;
  color: var(--custom-blue);
  margin-right: 2rem;
}
#link a:hover {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--custom-blue);
  transition-duration: 1s;
}
.custom-btn {
  background-color: var(--custom-blue);
  color: white;
}
.custom-btn:hover {
  background-color: var(--hover-blue);
  color: white;
}
