#cover-image {
    width: 30vw;
}
@media only screen and (max-width: 770px) {
    main {
      flex-direction: column;
    }
    #max-header {
        display: none !important;
    }
    #cover-image {
        width: 50vw;
    }
  }